
body {background: black}
 h1 {color: white;
    text-align: center;
    border: 5px;
    border-color: aqua;
    border-radius: round;}
h2 {color:purple;
    text-align: center;}
p {color: white}
h3 {coloer: Red;
    text-align: center;}
a { coler: white}


